
<section class="action-buttons">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <button class="btn btn-success new" (click)="onNew('', form)" data-toggle="modal" data-target="#formModal">New</button>
                    <button class="btn btn-default new" (click)="downloadExcel('Event')">Download Excel</button>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="grid">
    <div class="container">
        <div class="row">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element"> 
                    <a [href]="element.link" target="blank"> {{element.link}} </a>
                </td>
            </ng-container>
            
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                     <img [src]="baseUrl+element.eventImage" height="45px" width="45px">
                </td>
            </ng-container>
            
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <button class="btn btn-success" (click)="onEdit(element, form)"  data-toggle="modal" data-target="#formModal">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(element)">Delete</button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</section>

<section>
    <!-- CHANGE PASSWORD MODAL -->
    <div id="formModal" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <!-- <h4 class="modal-title">Change Password</h4> -->
                </div>
                <div class="modal-body provider-detail">
                    <p class="text-danger">{{ errMessage }}</p>
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="hidden" name="_id" ngModel>
                                <div class="form-group">
                                    <label for="name"> Name </label>
                                    <input 
                                        type="text" 
                                        placeholder="Name" name="name" required #nameF="ngModel" 
                                        ngModel
                                        class="form-control"
                                    >
                                    <small *ngIf="nameF.invalid && nameF.touched" class="text-danger">This field is required</small>
                                </div>
                                
                                <div class="form-group">
                                    <label for="description"> Description </label>
                                    <textarea 
                                        name="description" required #description="ngModel" 
                                        ngModel
                                        class="form-control"
                                    >
                                    </textarea>
                                    <small *ngIf="description.invalid && description.touched" class="text-danger">This field is required</small>
                                </div>
                                
                                <div class="form-group">
                                    <label for="name"> Image </label>
                                    <input 
                                        type="file"  
                                        class="form-control"
                                        required
                                        name="spotImage"
                                        (change)="fileEv($event)"
                                         required-file="true"
                                    >
                                </div>

                                <div class="form-group">
                                    <label for="link"> {{ startCase('link') }}</label>
                                    <input type="text" placeholder="link" name="link" required #link="ngModel" ngModel class="form-control">
                                    <small *ngIf="link.invalid && link.touched" class="text-danger">This field is required</small>
                                </div>
                                
                                <div class="form-group">
                                    <label for="lattitude">Lattitude</label>
                                    <input type="text" placeholder="Lattitude" name="lattitude" required #lattitude="ngModel" ngModel class="form-control">
                                    <small *ngIf="lattitude.invalid && lattitude.touched" class="text-danger">This field is required</small>
                                </div>

                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <input type="text" placeholder="Longitude" name="longitude" required #longitude="ngModel" ngModel class="form-control">
                                    <small *ngIf="longitude.invalid && longitude.touched" class="text-danger">This field is required</small>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" [disabled]="!form.valid" (click)="formSubmitted(form)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</section>
