<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef> Sno </th>
    <td mat-cell> {{ }} </td>
  </ng-container> -->

  <!-- Position Column -->
  <ng-container matColumnDef="product_title">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.product_title}} </td>
  </ng-container>
 
  <!-- Position Column -->
  <ng-container matColumnDef="images">
    <th mat-header-cell *matHeaderCellDef> Images </th>
    <td mat-cell *matCellDef="let element" (click)="showAllImages(element)" style="cursor: pointer;"> 
      <img *ngFor="let image of element.product_image_array " class="product-thumbnail" [src]="image.product_image" alt="">
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="main_category_name">
    <th mat-header-cell *matHeaderCellDef> Main Category </th>
    <td mat-cell *matCellDef="let element"> {{element.main_category[0].main_category_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="category_name">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category[0].category_name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="sub_category_name">
    <th mat-header-cell *matHeaderCellDef> Sub Category </th>
    <td mat-cell *matCellDef="let element">
      {{ getSubCategoryName(element) }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action-block">
    <th mat-header-cell *matHeaderCellDef> Verify </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-success btn-sm btn-labeled" [ngClass]="{ disabled: (element.is_admin_verify == 1) ? true : false }" type="button"
        (click)="verify($event)" [attr._id]="element._id">
        <span class="btn-label">
          <span class="icon icon-bank icon-lg icon-fw"></span>
        </span>
        Verify
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="action-unblock">
    <th mat-header-cell *matHeaderCellDef> Reject </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-danger btn-sm btn-labeled" type="button" [ngClass]="{ disabled: (element.is_admin_verify == 0) ? true : false }"
        (click)="refute($event)" [attr._id]="element._id">
        <span class="btn-label">
          <span class="icon icon-bank icon-lg icon-fw"></span>
        </span>
        Reject
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
<mat-paginator [length]="length" [pageSize]="pageSize" (page)="onPaginatorChange($event)" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event">
</mat-paginator>